/* 실제 컨텐츠 제작을 위한 문서, reset과 common을 import로 불러와야함 */

@import url('./reset.css');
@import url('./common.css');

header{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 9999;
}
.header-wrap{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-nav{
    display: flex;
    align-items: baseline;
}
.header-nav>h1{
    margin-right: 50px;
}
.header-nav>nav>a{
    color: white;
    font-weight: 500;
    padding: 0 25px;
    position: relative;
}

.header-nav>nav>a::after{
    content: '';
    display: block;
    border-bottom: 1px solid white;
    width: 0;
    transition: 0.5s;
}
.header-nav>nav>a:hover::after{
    width: 100%;
}

.header-icons .ic-lang{
    font-family: 'Material Symbols Outlined';
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
}
.header-icons .trigger-menu{
    width: 20px; height: 14px;
    position: relative;
}
.header-icons .trigger-menu>span{
    width: 100%; height: 2px;
    background-color: white;
    position: absolute;
    left: 0; top: 0;
    transition: 0.5s;
}
.header-icons .trigger-menu>span:nth-of-type(1){top: 0;}
.header-icons .trigger-menu>span:nth-of-type(2){top: 50%;}
.header-icons .trigger-menu>span:nth-of-type(3){top: 100%;}

.header-icons .trigger-menu:hover>span:nth-of-type(1){
    top: 50%;
    transform: rotate(45deg);
}
.header-icons .trigger-menu:hover>span:nth-of-type(2){
    top: 50%;
    opacity: 0;
}
.header-icons .trigger-menu:hover>span:nth-of-type(3){
    top: 50%;
    transform: rotate(-45deg);
}


/* main */
.spot{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.spot>iframe{
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    opacity: 1;
    width: 2435.56px;
    height: 1370px;
}
.spot>div{
    width: 1400px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.spot>div>b{
    font-size: 3.3rem;
    line-height: 1.4;
    color: white;
}
.spot>div>a{
    position: absolute;
    right: 0; bottom: 0;
    text-align: right;
    font-size: 0.8rem;
    color: white;
}
.spot>div>a::after{
    content: 'arrow_outward';
    font-family: 'Material Symbols Outlined'
}
.spot>div>a::before{
    content: '';
    border-bottom: 1px solid white;
    position: absolute;
    right: 0; bottom: 0px;
    width: 1400px;
}

/* main>section 첫번째 */
section{
    padding: 100px 0;
}
section>article{
    width: 1400px;
    margin: 0 auto;
}
section>article>h2{
    color: #000;
}
section>article>b{
    font-size: 2.2rem;
    line-height: 1.4;
    color: #000;
    margin: 45px 0 70px;
}
.con-business{
    display: flex;
}
.con-business>li{
    width: 20%;
    /* flex-grow: 1; (비율)  flex-shrink: 0; (감소)  width: 0; = [flex: 1 1 auto;] */
}
.con-business>li>a{
    width: 100%;
    position: relative;
}
.con-business>li>a>img{width: 100%;}
.con-business>li>a>span{
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    padding: 90% 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 0.5s;
}
.con-business>li>a:hover>span{
    padding: 0 0 60%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* main>section 두번째 */
.con-pr{
    display: flex;
    justify-content: space-between;
}
.con-pr>figure{
    position: relative;
    width: 32%;
    overflow: hidden;
}
.con-pr>figure>a>img{
    width: 100%;
    transition: 0.5s;
}
.con-pr>figure:hover>a>img{
    transform: scale(1.2);
}
.con-pr>figure>a>figcaption{
    position: absolute;
    left: 10%; top: 10%;
    font-size: 1.4rem;
    color: white;
}

/* main>section 세번째 */
section{overflow: hidden;}
.swiper{
    overflow: visible;
}
.swiper-wrapper img{width: 100%;}
.swiper-pagination{
    left: auto !important;
    right: 0 !important;
    top: -100px !important;
    bottom: auto !important;
    width: auto !important;
}
.swiper-slide{
    opacity: 0.3;
}
.swiper-slide-active{
    opacity: 1;
}

/* main>div 네번째 */
.summary{
    width: 1400px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}
.summary>div>b{
    font-size: 3.3rem;
    font-weight: 800;
    color: #000;
}
.summary>div>p:nth-of-type(1){
    font-size: 1.7rem;
    font-weight: 600;
    margin: 60px 0;
    color: #222;
}
.summary>p{
    position: relative;
    margin-top: 80px;
}
.summary>p>a{
    position: absolute;
    right: 0; top: 0;
    font-size: 0.9rem;
    font-weight: 600;
    color: #000;
}
.summary>p>a::after{
    content: 'arrow_outward';
    font-family: 'Material Symbols Outlined'
}

/* footer */
footer{
    padding: 100px 0;
    background: url('../img/bg_footer.jpg') 0 0 / cover no-repeat;

}
.footer-wrap{
    width: 1400px;
    margin: 0 auto;
    color: white;
}
.nav-family{
    display: flex;
    justify-content: space-between;
}
.nav-family>ul{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.nav-family>ul>li{
    margin-right: 140px;
}
.nav-family>ul>li>b{
    font-weight: 600;
    margin-bottom: 24px;
}
.nav-family>ul>li>a{
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 10px;
    display: block;
}

.footer-rig>div{
    border: 1px solid white;
    width: 286px;
    padding: 12px 0 15px 15px;
    margin-bottom: 30px;
}
.footer-rig>div>a{
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
}
.footer-rig>p{
    text-align: right;
}
.footer-rig>p>a{
    color: #fff;
    padding-left: 20px;
    font-size: 0.7rem;
    font-weight: 500;
}


.copyright{
    margin-top: 130px;
    border-top: 0.5px solid white;
}
.copyright>p{
    text-align: center;
    font-size: 0.7rem;
    padding-top: 32px;
}